{% extends "base.html" %}
{% load static %}
    {% block title %}
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Making Sortable Accordion</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" )
      .accordion({
        header: "> div > h3"
      })
      .sortable({
        axis: "y",
        handle: "h3",
        stop: function( event, ui ) {
          ui.item.children( "h3" ).triggerHandler( "focusout" );
          $( this ).accordion( "refresh" );
        }
      });
  } );
  </script>
    {% endblock title %}


    {% block content %}
    <body>
 
      <div id="accordion">
        <div class="group">
          <h3>Halo</h3>
          <div>
            <p>Hai</p>
          </div>
        </div>
        <div class="group">
          <h3>Aku</h3>
          <div>
            <p>Ganteng</p>
          </div>
        </div>
        <div class="group">
          <h3>Makan</h3>
          <div>
            <p>Mie</p>
            <ul>
              <li>Mie ayam</li>
              <li>Mie udon</li>
              <li>Mie instan</li>
            </ul>
          </div>
        </div>
        <div class="group">
          <h3>Mainan</h3>
          <div>
            <p>Mobil-mobilan</p>
          </div>
        </div>
      </div>   
    </body>
    {% endblock content %}